**Decision Tree** -> It is a binary tree with conditions and decisions . for every input it recursively find the decisions and gives out the best output

importing necessary packages for building the model

pandas - For data handling purpose

In [1]:
import pandas as pd

numpy - for mathematical operations and array based computation since model could only handle numerical values in array

In [2]:
import numpy as np

train_test_split - We need to split the dataset in 80% training 20% testing to test our model and also check if it is underfitting or overfitting

In [3]:
from sklearn.model_selection import train_test_split

LabelEncoder - we have to convert the text data to numerical data because model could only handle numerical data

In [ ]:
from sklearn.preprocessing import LabelEncoder

Decision Tree - To build our Decision Tree model

In [ ]:
from sklearn.tree import DecisionTreeClassifier

Model Evaluation - To evaluate the performance of our model using accuracy score and confusion matrix and classification report

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

Tree Visualization - Visualization of the decision tree using matplotlib and plot tree

In [ ]:
from sklearn.tree import plot_tree 
import matplotlib.pyplot as plt

Seaborn - For more visualization purposes

In [ ]:
import seaborn as sns

Let's load our dataset to start our training

In [4]:
data = pd.read_csv("dataset/loan_data.csv")

In [5]:
data

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Female,Yes,Not Graduate,No,6841,1126,107,240,1,Semiurban,Approved
1,Male,Yes,Not Graduate,No,4017,1657,204,300,1,Semiurban,Approved
2,Male,Yes,Not Graduate,Yes,8665,780,143,240,1,Rural,Approved
3,Female,No,Graduate,No,3452,2628,199,360,0,Urban,Rejected
4,Female,No,Graduate,Yes,6673,2393,117,180,1,Rural,Approved
...,...,...,...,...,...,...,...,...,...,...,...
245,Male,Yes,Graduate,Yes,3971,1794,81,240,1,Semiurban,Approved
246,Female,Yes,Not Graduate,Yes,4369,909,115,300,1,Rural,Approved
247,Female,No,Graduate,No,8234,612,243,360,0,Urban,Rejected
248,Female,No,Not Graduate,No,5840,1079,222,180,0,Semiurban,Rejected
249,Male,No,Graduate,Yes,5484,2873,265,300,1,Rural,Approved

Now we have to split our dataset primarily to input features and target

Input Features (X) -> all the factors such as gender,education,income etc

Target (Y) -> loan status whether approved or rejected

Let's set the Input Feature (X) values

In [7]:
X= data.drop("Loan_Status",axis=1) #add everything other than loan status

Setting the Target (Y)

In [8]:
y=data["Loan_Status"]

Since models can't interpret text dataset, we are gonna convert them into numeric values with the help of label encoders

eg: approved :0 rejected :0 
    rural :0 semi-urban :1 urban :2

In [ ]:
encoder = LabelEncoder()

Encoding the x values

In [ ]:
for column in X.columns:
    if X[column] = encoder.fit_transform(X[column])

Encoding Target Y values

In [ ]:
y=encoder.fit_transform(y)